@import "../components/navbar/navbar.module.css";
@import "../components/boardStick/boardStick.module.css";
@import "../components/addBoard/addBoard.module.css";
@import "../components/boardNavbar/boardNavbar.module.css";
@import "../components/addColumn/addColumn.module.css";
@import "../components/addNewTask/addNewTask.module.css";
@import "../components/editBoard/editBoard.module.css";
@import "../components/editTask/editTask.module.css";
@import "../components/deleteBoard/deleteBoard.module.css";
@import "../components/deleteTask/deleteTask.module.css";
@import '../components/task/task.module.css';
* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

:root {
    --bg-color: #F4F7FD;
    --p-color: #000;
    --newColumnBg: #F4F7FD;
    --taskBg: #fff;
    --boardStick: #F3eff7;
    --border: #E4EBFA;
    --cancel: #F3eff7;
}

[data-theme='dark'] {
    --bg-color: #20212C;
    --p-color: #fff;
    --newColumnBg: #000;
    --taskBg: #2B2C37;
    --boardStick: #fff;
    --border: #3E3F4E;
    --cancel: #fff;
}

body {
    margin: 0 0;
    overflow-y: hidden;
    overflow-x: hidden;
    & .eye2 {
        display: none;
        position: absolute;
        z-index: 1;
        top: 80vh;
        &:hover {
            cursor: pointer;
        }
    }
    & .phoneNavbarDisplayed {
        display: none!important;
    }
    & .board {
        width: 100%;
        height: 100vh;
        background-color: var(--bg-color);
        display: flex;
        align-items: start;
        position: relative;
        & .kanbanApp {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100vh;
            & .empty {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100vh;
                overflow-x: auto;
                & h3 {
                    color: #828FA3;
                    text-align: center;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                & .addNewColumn {
                    border-radius: 24px;
                    background-color: #635FC7;
                    padding: 10px 24px;
                    &:hover {
                        cursor: pointer;
                    }
                    & p {
                        color: white;
                        margin: 5px 5px;
                        text-align: center;
                    }
                }
                & .addNewBoard{
                    border-radius: 24px;
                    background-color: #635FC7;
                    padding: 10px 24px;
                    &:hover {
                        cursor: pointer;
                        background-color: #A8A4FF;
                    }
                    & p {
                        color: white;
                        margin: 5px 5px;
                        text-align: center;
                    }
                }
            }
                & .justifyContent {
                    justify-content: space-evenly;
                }
                & .columns {
                    width: 100%;
                    max-width: 100%;
                    height: 100vh;
                    display: flex;
                    align-items: start;
                    overflow-x: auto;
                    & .column {
                        width: 60%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        border-radius: 6px;
                        max-width: 350px;//set up responsive
                        min-width: 275px;
                        padding: 0 20px;
                        background-color: var(--newColumnBg);
                        & .columnName {
                            display: flex;
                            align-items: center;
                            & .oval {
                                width: 15px;
                                height: 15px;
                                border-radius: 30px;
                                background-color: #49C4E5;
                                margin: 20px 0 10px 0px;
                            }
                           & h5 {
                                color: #828FA3;
                                font-feature-settings: 'clig' off, 'liga' off;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                letter-spacing: 2.4px;
                                margin: 20px 0 10px 15px;
                            }
                        }
                        & .task {
                            display: flex;
                            flex-direction: column;
                            border-radius: 8px;
                            background: var(--taskBg);
                            box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.10);
                            padding: 23px 19px;
                            margin: 10px 0;
                            &:hover {
                                cursor: pointer;
                                h3 {
                                    color: #635FC7;
                                }
                            }
                            & h3 {
                                color: var(--p-color);
                                font-feature-settings: 'clig' off, 'liga' off;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                margin: 5px 0;
                                max-width: 85%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            & p {
                                color: #828FA3;
                                font-feature-settings: 'clig' off, 'liga' off;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            }
                        }
                    }
                    & .newColumn {
                        width: 100%;
                        height: 100%;
                        background-color: var(--newColumnBg);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 6px;
                        &:hover {
                            cursor: pointer;
                            & h2 {
                                color: #635FC7;
                            }
                        }
                        & h2 {
                            color: #828FA3;
                            text-align: center;
                            font-feature-settings: 'clig' off, 'liga' off;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                    & .newColumnNone {
                        display: none!important;
                    }                
                }
            }
        }

        & .clickBoard {
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 1;
            & h1 {
                transform: translate(-50%, -50%);
                color: var(--p-color);
                animation: shake 1.5s ease-in-out infinite, colorChange 6s ease-in-out infinite;
                text-align: center;  
            }
        }
    }

@media (max-width: 700px) {
    .newColumn {
        display: none!important;
    }
}

@media (max-width: 599px) {
    body {
        & .eye2 {
            display: block;
        }
    }
}