@import "../components/navbar/navbar.module.css";
@import "../components/boardStick/boardStick.module.css";
@import "../components/addBoard/addBoard.module.css";
@import "../components/boardNavbar/boardNavbar.module.css";
@import "../components/addColumn/addColumn.module.css";
* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

:root {
    --bg-color: #F4F7FD;
    --p-color: #000;
    --newColumnBg: #E9EFFA;
}

[data-theme='dark'] {
    --bg-color: #20212C;
    --p-color: #fff;
    --newColumnBg: rgba(43, 44, 55, 0.25);
}

body {
    margin: 0 0;
    & .board {
        width: 100%;
        height: 100vh;
        background-color: var(--bg-color);
        display: flex;
        align-items: start;
        position: relative;
        & .kanbanApp {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100vh;
            & .empty {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100vh;
                & h3 {
                    color: #828FA3;
                    text-align: center;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                & .addNewColumn {
                    border-radius: 24px;
                    background-color: #635FC7;
                    padding: 10px 24px;
                    &:hover {
                        cursor: pointer;
                    }
                    & p {
                        color: white;
                        margin: 5px 5px;
                        text-align: center;
                    }
                }
                & .addNewBoard{
                    border-radius: 24px;
                    background-color: #635FC7;
                    padding: 10px 24px;
                    &:hover {
                        cursor: pointer;
                    }
                    & p {
                        color: white;
                        margin: 5px 5px;
                        text-align: center;
                    }
                }
            }
                & .columns {
                    width: 100%;
                    height: 100vh;
                    display: flex;
                    align-items: start;
                    & .column {
                        width: 60%;
                        height: 100%;
                        background-color: aqua;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 6px;
                    }
                    & .newColumn {
                        width: 100%;
                        height: 100%;
                        background-color: var(--newColumnBg);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 6px;
                        &:hover {
                            cursor: pointer;
                            & h2 {
                                color: #635FC7;
                            }
                        }
                        & h2 {
                            color: #828FA3;
                            text-align: center;
                            font-feature-settings: 'clig' off, 'liga' off;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }                
                }
            }
        }
        @keyframes shake {
            0%, 100% {
              transform: translate(-50%, -50%) translateX(0);
            }
            25%, 75% {
              transform: translate(-50%, -50%) translateX(-5px);
            }
            50% {
              transform: translate(-50%, -50%) translateX(5px);
            }
          }
          
          @keyframes colorChange {
            0% {
              color: red; 
            }
            25% {
              color: blue; 
            }
            50% {
              color: green; 
            }
            75% {
              color: #635FC7; 
            }
            100% {
              color: red; 
            }
          }

        & .clickBoard {
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 1;
            & h1 {
                transform: translate(-50%, -50%);
                color: var(--p-color);
                animation: shake 1.5s ease-in-out infinite, colorChange 6s ease-in-out infinite;
                text-align: center;  
            }
        }
    }

