.calc {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); 
};

.deleteTask {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: var(--bg-color);
    border-radius: 6px;
    padding: 32px 32px;
    width: 35%;
    & h1 {
        color: #EA5555;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;     
    }
    & p {
        color: #828FA3;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px; /* 176.923% */
    }
    & div {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .delete {
            width: 45%;
            border-radius: 20px;
            background-color: #EA5555;
            padding: 8px 75px;
            display: flex;
            justify-content: center;
            &:hover {
                cursor: pointer;
            }
            & p {
                margin: 0 0;
                color: var(--p-color);
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: 23px; /* 176.923% */
            }
        }

        & .cancel {
            display: flex;
            justify-content: center;
            width: 45%;
            border-radius: 20px;
            background-color: var(--p-color);
            padding: 8px 75px;
            &:hover {
                cursor: pointer;
            }
            & p {
                margin: 0 0;
                color: #635FC7;
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: 23px; /* 176.923% */
            }
        }
    }

}

@media (max-width: 3000px) {
    .deleteTask {
        width: 25%;
    }
}

@media (max-width: 2300px) {
    .deleteTask {
        width: 30%;
    }
}

@media (max-width: 2000px) {
    .deleteTask {
        width: 33%;
    }
}

@media (max-width: 1800px) {
    .deleteTask {
        width: 36%;
    }
}

@media (max-width: 1600px) {
    .deleteTask {
        width: 38.5%;
    }
}

@media (max-width: 1450px) {
    .deleteTask {
        width: 42%;
    }
}

@media (max-width: 1300px) {
    .deleteTask {
        width: 44%;
    }
}

@media (max-width: 1100px) {
    .deleteTask {
        width: 47%;
    }
}

@media (max-width: 950px) {
    .deleteTask{
        width: 50%;
    }
}

@media (max-width: 850px) {
    .deleteTask {
        width: 53%;
    }
}

@media (max-width: 725px) {
    .deleteTask {
        width: 56%;
    }
}

@media (max-width: 600px) {
    .deleteTask {
        width: 60%;
    }
}

@media (max-width: 450px) {
    .deleteTask {
        width: 80%;
    }
}

@media (max-width: 320px) {
    .deleteTask {
        width: 95%;
    }
}