.noPadding {
    padding: 0 0!important;
}

.noWidth20 {
    width: 0!important;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    height: 100vh;
    padding: 40px 0px 50px 0px;
    position: relative;
    border-right: 1px solid var(--border);
    background-color: var(--taskBg);
    & .navbarMenu {
        display: flex;
        flex-direction: column;
        & svg {
            margin-left: 24px;
        }
        & .navbarMenuBoard {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            & .allBoard {
                margin-left: 24px;
                color: #828FA3;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2.4px;
            }
        }
        & .navbarMenuAddBoard {
            display: flex;
            align-items: center;
            margin-top: 25px;
            margin-left: 24px;
            & p {
                color: #828FA3;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 2px; 
                margin: 0 0;               
            }
            &:hover {
                cursor: pointer;
            }
            & p {
                color: #635FC7;
                font-feature-settings: 'clig' off, 'liga' off;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0;
            }
            & svg {
                margin-right: 10px;
                margin-left: 0!important;
            }
        }
    }
    .navbarBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .hideSidebar {
            display: flex;
            align-items: center;
            & p {
                margin-left: 15px;
                color: #828FA3;
                font-feature-settings: 'clig' off, 'liga' off;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .eye {
        position: absolute;
        z-index: 1;
        top: 80vh;
        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 1800px) {
    .navbar {
        width: 23%;
    }
}

@media (max-width: 1600px) {
    .navbar {
        width: 26%;

    }
}

@media (max-width: 1400px) {
    .navbar {
        width: 30%;
    }
}

@media (max-width: 1320px) {
    .navbar {
        width: 34%;
    }
}

@media (max-width: 1150px) {
    .navbar {
        width: 38%;
    }
}

@media (max-width: 1000px) {
    .navbar {
        width: 42%;
    }
}

@media (max-width: 850px) {
    .navbar {
        width: 45%;
    }
}

@media (max-width: 750px) {
    .navbar {
        width: 48%;
    }
}

@media (max-width: 675px) {
    .navbar {
        width: 51%;
    }
}

@media (max-width: 600px) {
    .navbar {
        width: 54%;
    }
}

@media (max-width: 599px) {
    .navbar {
        display: none;
    }
}
