.calc {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.addBoard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--bg-color);
  border-radius: 6px;
  padding: 32px 32px;
  width: 35%;
}
.addBoard h1 {
  color: var(--p-color);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.addBoard .boardName {
  display: flex;
  flex-direction: column;
}
.addBoard .boardName label {
  color: #828FA3;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
}
.addBoard .boardName input {
  border-radius: 4px;
  border: 1.5px solid rgba(130, 143, 163, 0.25);
  padding: 12px 16px;
  background-color: var(--bg-color);
  color: var(--p-color);
}
.addBoard .columnsBoard {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.addBoard .columnsBoard label {
  color: #828FA3;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
}
.addBoard .columnsBoard .columnBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.addBoard .columnsBoard .columnBoard input {
  border-radius: 4px;
  border: 1.5px solid rgba(130, 143, 163, 0.25);
  padding: 12px 16px;
  width: 90%;
  background-color: var(--bg-color);
  color: var(--p-color);
}
.addBoard .columnsBoard .columnBoard svg:hover {
  cursor: pointer;
}
.addBoard .addNewColumn {
  border-radius: 20px;
  background: rgba(99, 95, 199, 0.1);
  padding: 12px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0 0 0;
}
.addBoard .addNewColumn:hover {
  cursor: pointer;
}
.addBoard .addNewColumn p {
  color: #635FC7;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 176.923% */
  margin: 0 0;
}
.addBoard .createNewBoard {
  border-radius: 20px;
  background: #635FC7;
  padding: 12px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0 0 0;
}
.addBoard .createNewBoard:hover {
  cursor: pointer;
}
.addBoard .createNewBoard p {
  color: white;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 176.923% */
  margin: 0 0;
}

@media (max-width: 3000px) {
  .addBoard {
    width: 25%;
  }
}
@media (max-width: 2300px) {
  .addBoard {
    width: 30%;
  }
}
@media (max-width: 2000px) {
  .addBoard {
    width: 33%;
  }
}
@media (max-width: 1800px) {
  .addBoard {
    width: 36%;
  }
}
@media (max-width: 1600px) {
  .addBoard {
    width: 38.5%;
  }
}
@media (max-width: 1450px) {
  .addBoard {
    width: 42%;
  }
}
@media (max-width: 1300px) {
  .addBoard {
    width: 44%;
  }
}
@media (max-width: 1100px) {
  .addBoard {
    width: 47%;
  }
}
@media (max-width: 950px) {
  .addBoard {
    width: 55%;
  }
}
@media (max-width: 850px) {
  .addBoard {
    width: 60%;
  }
}
@media (max-width: 725px) {
  .addBoard {
    width: 65%;
  }
}
@media (max-width: 600px) {
  .addBoard {
    width: 75%;
  }
}
@media (max-width: 450px) {
  .addBoard {
    width: 85%;
  }
}
@media (max-width: 320px) {
  .addBoard {
    width: 95%;
  }
}/*# sourceMappingURL=addBoard.module.css.map */